<!DOCTYPE html>
<html id="main-page">
	<header>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132061990-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-132061990-1');
		</script>

		<title> Community Band Finder: Find a community band or orchestra near you </title>
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
		<link rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		<div class="wrapper">
			<div class="logo"> 
				<h2> 
					<a href='/'>
						<div class="dark-yellow">Community Band Finder</div> <div class="white" style="font-size: 15px"> Beta</div> 
					</a>
				</h2> 
			</div>

			<div class="card-about">
				<h2>Disclaimer</h2>
				
				<p>
					I, Ryan Williams, the owner of www.communitybandfinder.com, do not take responsibility for any inaccurate band or orchestra listings. 
				</p>

				<p>
					Additionally, I am not responsible for the content of any external website linked on www.communitybandfinder.com.
				</p>

				<p>
					The information contained in this website is for general information purposes only and is provided by www.community-music.info, with their permission. I am not responsibile for any undesired messages or spam sent to the e-mails listed on this website.
				</p>

				<p>
					The content of this website is protected by copyright. No portion of this website may be copied or replicated in any form without the written consent of the website owner.
				</p>
			
			</div>
			
			

			<!-- Push content to the bottom (for the footer) -->
			<div class="push"></div>
		</div>

		<!-- Footer -->
		<footer class="footer-distributed">

			<div class="footer-right">
				<a href="https://www.linkedin.com/in/rpwilliams96/"><i class="fa fa-linkedin"></i></a>

				<a href="https://www.github.com/rpwilliams"><i class="fa fa-github"></i></a>
			</div>

			<div class="footer-left">
				<p><a href="/about"><b>About</b> </a> &#8226; <a href="http://www.ryanpaulwilliams.com/contact"><b>Contact</b> </a> &#8226; <a href="/disclaimer"><b>Disclaimer</b> </a> &#8226; 
				<a href="https://fs27.formsite.com/billeuph/form1/index.html"><b>Update Listing</b> </a> </p>
				<p>&copy; 2019 <a href="http://www.ryanpaulwilliams.com" style="color: inherit">Ryan Williams</a>. All rights reserved.</p>
			</div> 
		</footer>
	</body>
</html>
