<!DOCTYPE html>
<html>
	<header>
		<link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		<video width="320" height="240"  autoplay>
			<source src="../public/assets/videos/Stick_Figure_Musicians/violinist.mov" type="video/mov">
			Your browser does not support the video tag
		</video>
		<!-- Loading Screen -->
		<!-- <div class="loading-screen-container"> -->
			
			
		<!-- </div> -->
	</body>
</html>