<!DOCTYPE html>
<html id="main-page">
	<header>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132061990-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-132061990-1');
		</script>

		<title> Community Band Finder: Find a community band or orchestra near you </title>
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
		<link rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<style>
			.card:hover {
				opacity: .9;
				cursor: pointer;
			}
		</style>
	</header>

	<body>
		<div class="wrapper">
			<div class="logo"> 
				<h2> 
					<a href='/'>
						<div class="dark-yellow">Community Band Finder</div> <div class="white" style="font-size: 15px"> Beta</div> 
					</a>
				</h2> 
			</div>

			<div class="card-grid" style="margin: 0 auto; color:black">
				<a href="https://fs27.formsite.com/billeuph/form1/index.html">
					<div class="card">
						<h2>Update US Listing</h2>
						
						<div class="card-instrument">
							<img src="assets/images/update/us-map.svg"></img>
						</div>
					
					</div>
				</a>

				<a href="https://fs27.formsite.com/billeuph/form2/index.html">
					<div class="card">
						<h2>Update International Listing</h2>
						
						<div class="card-instrument">
							<img src="assets/images/update/worldwide.svg"></img>
						</div>
					
					</div>
				</a>
			</div>
			

			<!-- Push content to the bottom (for the footer) -->
			<div class="push"></div>
		</div>

		<!-- Footer -->
		<footer class="footer-distributed">

			<div class="footer-right">
				<a href="https://www.linkedin.com/in/rpwilliams96/"><i class="fa fa-linkedin"></i></a>

				<a href="https://www.github.com/rpwilliams"><i class="fa fa-github"></i></a>
			</div>

			<div class="footer-left">
				<p><a href="/about"><b>About</b> </a> &#8226; <a href="http://www.ryanpaulwilliams.com/contact"><b>Contact</b> </a> &#8226; <a href="/disclaimer"><b>Disclaimer</b> </a> &#8226; 
				<a href="/update"><b>Update Listing</b> </a> </p>
				<p>&copy; 2019 <a href="http://www.ryanpaulwilliams.com" style="color: inherit">Ryan Williams</a>. All rights reserved.</p>
			</div> 
		</footer>
	</body>
</html>
