/**
* Community Band Finder
* @author Ryan Williams
* @version 1.0
*/


/* ============================ RESET ============================ */

/* ===== Eric Meyer Reset ===== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ========================= HTML TAGS ======================== */

@font-face {
	font-family: Fela;
	src: url('../assets/fonts/Fela/Fela.otf');
}


* {
	/*Allow padding to be included in total width/height */
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: black;
	color: white;
	overflow-x: hidden;
}

body {
	font-family: 'Roboto',  sans-serif;
	margin-top: 50px; /* Push everything beneath the logo */
}

a {
	text-decoration: none;
}
a:visited {
	color: black;
}

h1 {
	font-size: 24px;
}

/* Logo */
h2 {
	font-family: 'Fela';
	font-size: 20px;
}

h4 {
	color: black;
	font-size: 18px;
}

/* For Font Awesome icons */
.search-container i {
	color: #FC3;
	position: absolute;
	padding: 5px;
	font-size: 30px !important;
    
}

span {
	color: #FC3;
}

form {
  height: 100%;
  width: 100%;
}

/* Shift placeholder to the right */
input {
    text-indent: 30px;
    border: 1px solid black;
    font-size: 12px;
}

input:focus {
	outline: none !important;
	border: 1px solid #FC3;
}


/* ======================= CLASSES ======================= */


/* --- Footer --- */

/* Wrapper, to make footer sticky */
.wrapper {
	min-height: 100vh;
	margin-bottom: -50px;
}

.push,
.footer-distributed {
	height: 90px;
}

.footer-distributed{
	background-color: #343434; /* Jet */
	width: 100%;
    bottom: 0px;
    padding: 20px 10px;
}


.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	/*padding-top: 5px;*/
	margin: 0;
}

.footer-distributed .footer-left a{
	display:inline-block;
	line-height: 1.5;
	text-decoration: underline;
	/*color: inherit;*/
	color: #FC3;
}

.footer-distrubted .footer-left a:hover {
	color: #fff !important;
}

.footer-distributed .footer-right{
	float: right;
	max-width: 300px;
}

.footer-distributed .footer-right p {
	color:  #8f9296;
	font-size: 14px;
	padding-top: 5px;
	margin: 0;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 2px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		display: none;
	}
}


/* --- Loading Screen --- */

#loading-screen-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: black;
	display: none;
}

/* The autoplaying video */
#loading-screen-container video {
	width: 480px;
	height: 360px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Animated music note.
   Inspired by https://codepen.io/MaryG/pen/wJMMdw */
.music-note-container {
	display: block;
	margin: auto;
	border: 0px solid #000;
	height: 100px;
	width: 100px;

	/* Move slightly down and to the right */
	top: 52%;
	left: 80%;
}

.music-note {
	position: absolute;
	animation: notes 2s infinite linear;
	font-size: 35px;
	opacity: 0;
	color: white;
	/*animation-delay: 0.25s;*/
}

@keyframes notes {
	0% {
		transform: scale(1) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: scale(1.5) translate(50%, -50%);
	}
	80% {
		opacity: 0;
		transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

/* Loading bar
   Inspired by https://codepen.io/zFunx/pen/oZaqqz */
.load-bar {
	width: 220px;
	height: 5px;

	top: 75%;
	background: linear-gradient(to right, #B22222, #DC143C);
	background-color: #ccc;
	background-repeat: repeat-y;
	background-position: -25% 0;
	background-size: 30%;
	animation: loading .5s ease-in-out infinite;
}

@keyframes loading {
	50% { background-size: 60%; }
	100% { background-position: 125% 0; }
}


/* --- Main Page --- */

/* Full screen background image */
.bg
{
	background-image: url('../assets/images/main-screen/backgrounds/trombone-marine-band.JPG');
	height: 100%;

	/* Center and scale */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
}

.musician-left img {
	width: 350px;
	height: 350px;

	/* Hide on mobile */
	display: none;
}

.musician-right img {
	width: 390px;
	height: 390px;
	
	/* Hide on mobile */
	display: none;
}

.left {
	position: absolute;
	left: -80%;
	bottom: -175%;
}

.right {
	position: absolute;
	right: -85%;
	bottom: -175%;
}

.logo {
	position: fixed;
	top: 0;
	left: 0;
	border: 0;
	text-align: center;
	background-color: #000;
	width: 100%;
	padding: 5px;
}


.search-container {
	width: 300px;
	height: 40px;
	position: relative;
}

.search-bar {
	width: 100%;
	height: 100%;
}

.main-page-message {
	width: 300px;
	height: 75px;
	position: relative;
	text-align: center;
}

.crimson {
	display: inline;
	color: #DC143C;
}

.black {
	display: inline;
	color: #000000;
}

.dark-yellow {
	display: inline;
	color: #FC3;
}

.white {
	color: white;
}


/* --- View Bands Page --- */
.vertical-center {
	position: absolute;
	margin-top: 55%;
	margin-left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.card-grid {
	display: grid;

	/* Create unknown amount of columns of length 200px.
	    The minmax will delete any extra space  */
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: auto;
	/* Change the size of grid-row-gap and grid-column-gap to 1rem */
	grid-gap: 1rem;
}

.card {
	background-color: white;
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	padding: .5rem;
	text-align: center;
}

.card-band-name img {
	width: 18px;
	height: 18px;
}

.card-location {
	display: block;
}

.card-conductor img {
	width: 18px;
	height: 18px;
}

.card-email img {
	width: 18px;
	height: 18px;
}

.card-instrument img {
	margin: 30px auto;
	width: 150px;
	height: 150px;
	display: block;
}

.inline-block {
	display: inline-block;
}

/* About Page */

.card-about {
	background-color: white;
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	padding: .5rem;
	height: 100%;
	color: black;
	width: 75%;
	margin: 10px auto; /* Center */
	overflow: auto;
}

.card-about a {
	text-decoration: underline;
	color: inherit;
}

.card-about img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	padding: 10px;
	text-align: center;
}

.card-about h2 {
	text-align: center;
}

/* Update Page */

.card-update {
	background-color: white;
	border: 2px solid #e7e7e7;
	border-radius: 4px;
	padding: .5rem;
	height: 100%;
	color: black;
	width: 25%;
	margin: 10px auto; /* Center */
	overflow: auto;
}

.card-update a {
	text-decoration: underline;
	color: inherit;
}

.card-update img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	padding: 10px;
	text-align: center;
}

.card-about h2 {
	text-align: center;
}


/*.row {
	width: 100%;
	border: 2px solid black;
	height: 25vh;
	margin: 1px;
}*/

/*.row .imgcontainer {
	overflow: hidden;
	float:right;
}
*/
/*.row .imgcontainer img {
	border: 2px solid red;
	
}*/

/*.row .textcontainer {
	float: left;
	border: 2px solid blue;
	height: 100%;
	width: 50%;
	overflow: hidden;
}
*/

/* ======================= MEDIA QUERIES ======================= */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.musician-left img {
		display: none;
	}
	.musician-right img {
		display: none;
	}


	.music-note-container {
		left: 75%;
	}
	.loading-screen-container img {
		max-width: 300px;
	}
	.logo {
		text-align: left;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 24px;
	}

	input {
		font-size: 18px;
	}

	.music-note-container {
		left: 70%;
	}
	.search-container {
		width: 500px;
	}
	.main-page-message {
		width: 500px;
		height: 32px;
	}

	.musician-left img {
		width: 175px;
		height: 175px;
		display: none;
	}
	.musician-right img {
		width: 175px;
		height: 175px;
		display: none;
	}

	.right {
		position: absolute;
		right: -35%;
		bottom: -60%;
	}
	.left {
		position: absolute;
		left: -35%;
		bottom: -60%;
	}
	.logo {
		padding: 5px 0;
	}

	.card-about img {
		display: static;
		float: left;
	}
	.card-about h2 {
		text-align: left;
	}

	.card-update img {
		display: static;
		float: left;
	}
	.card-update h2 {
		text-align: left;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.search-container i {
		padding: 10px; 
	}

	.music-note-container {
		left: 65%;
	}
	.load-bar {
		width: 260px;
	}
	.musician-left img {
		width: 225px;
		height: 225px;
		display: block;
	}
	.musician-right img {
		width: 250px;
		height: 250px;
		display: block;
	}
	.search-container {
		width: 600px;
		height: 50px;
	}
	.main-page-message {
		width: 600px;
	}

	.right {
		position: absolute;
		right: -45%;
		bottom: -80%;
	}

	.left {
		position: absolute;
		left: -45%;
		bottom: -80%;
	}


	/* Card styles */	
	.vertical-center {
		margin: 0;
		top: 50%;
		margin-left: 5%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.card-grid {
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.music-note-container {
		left: 58%;
	}
}

