/**
* Community Band Finder
* @author Ryan Williams
* @version 1.0
*/


/* ============================ RESET ============================ */

/* ===== Eric Meyer Reset ===== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ========================= HTML TAGS ======================== */

* {
	/*Allow padding to be included in total width/height */
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
	background-color: #000;
	height: 100%; /* Used for the full page background */
	color: white;
}

body {
	font-family: 'Roboto', 'Open Sans', sans-serif;
}


/* ======================= CLASSES ======================= */

/* --- Loading Screen --- */

.loading-screen-container {

}

/* The image for the instrument */
.loading-screen-container img {
	max-height: 100%;
	max-width: 200px;
	/*max-width: 300px;*/
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

/* Animated music note.
   Inspired by https://codepen.io/MaryG/pen/wJMMdw */
.music-note-container {
	display: block;
	margin: auto;
	border: 0px solid #000;
	height: 100px;
	width: 100px;

	/* Move slightly down and to the right */
	top: 52%;
	left: 80%;
}

.music-note {
	position: absolute;
	animation: notes 2s infinite linear;
	font-size: 35px;
	opacity: 0;
	color: white;
	/*animation-delay: 0.25s;*/
}

@keyframes notes {
	0% {
		transform: scale(1) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: scale(1.5) translate(50%, -50%);
	}
	80% {
		opacity: 0;
		transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

/* Loading bar
   Inspired by https://codepen.io/zFunx/pen/oZaqqz */
.load-bar {
	width: 220px;
	height: 5px;

	top: 75%;
	background: linear-gradient(to right, #B22222, #DC143C);
	background-color: #ccc;
	background-repeat: repeat-y;
	background-position: -25% 0;
	background-size: 30%;
	animation: loading .5s ease-in-out infinite;
}

@keyframes loading {
	50% { background-size: 60%; }
	100% { background-position: 125% 0; }
}


/* --- Main Page --- */

/* Full screen background image */
.bg {
	background-image: url('../assets/images/main-screen/backgrounds/trombone-marine-band.JPG');
	height: 100%;

	/* Center and scale */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.8;
}

.search-container {
	width: 300px;
	height: 40px;
	position: relative;
}

.search-text {
	width: 100%;
	height: 100%;
	/*padding: 10px 20px;
	background: white;
	border-radius: 3px;
	box-shadow: 0px 8px 15px rgba($tundora, 0.1);*/
}


/* ======================= MEDIA QUERIES ======================= */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.music-note-container {
		left: 75%;
	}
	.loading-screen-container img {
		max-width: 300px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.music-note-container {
		left: 70%;
	}
	.search-container {
		width: 500px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.music-note-container {
		left: 65%;
	}
	.load-bar {
		width: 260px;
	}
	.search-container {
		width: 500px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.music-note-container {
		left: 58%;
	}
}

