/**
* Community Band Finder
* @author Ryan Williams
* @version 1.0
*/


/* ============================ RESET ============================ */

/* ===== Eric Meyer Reset ===== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ========================= HTML TAGS ======================== */

html, body {
	overflow: hidden;
}


/* ======================= CLASSES ======================= */

/* --- Loading Screen --- */

.loading-screen-container {

}

/* The image for the instrument */
.loading-screen-container img {
	/* Center vertically and horizontally */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	max-height: 100%;
	max-width: 300px;
}


/* Animated music note.
   Inspired by https://codepen.io/MaryG/pen/wJMMdw */
.music-note-container {
	display: block;
	margin: auto;
	border: 0px solid #000;


	height: 100px;
	width: 100px;

	/* Make in center of screen */
	position: absolute;
	top: 52%;
	left: 58%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.music-note {
	position: absolute;
	animation: notes 2s infinite linear;
	font-size: 40px;
	opacity: 0;

	/*top: 60px;*/
	/*top: 60px;
	left: 0;*/
	animation-delay: 0.5s;
}

@keyframes notes {
	0% {
		transform: scale(1) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: scale(1.5) translate(50%, -50%);
	}
	80% {
		opacity: 0;
		transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}


/* ======================= MEDIA QUERIES ======================= */

/* Resize instrument images on certain smartphones */
@media only screen and (max-width: 480px) {
	.loading-screen-container img {
		max-width: 200px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.music-note-container {
		top: 52%;
		left: 80%;
	}
	.music-note {
		font-size: 35px;
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.music-note-container {
		top: 52%;
		left: 75%;
	}
	.music-note {
		font-size: 35px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.music-note-container {
		top: 52%;
		left: 70%;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.music-note-container {
		top: 52%;
		left: 65%;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.music-note-container {
		top: 52%;
		left: 58%;
	}
}

