<!DOCTYPE html>
<html id="main-page">
	<header>
		<title> Community Band Finder: Find a community band or orchestra near you </title>
		<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
		<link rel="stylesheet" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</header>

	<body>
		
		<!-- <div class="bg"></div> -->
		<div class="wrapper">
			<div class="logo"> 
				<h2> 
					<div class="dark-yellow">Community Band Finder</div> <div class="white" style="font-size: 15px"> Beta</div> 
				</h2> 
			</div>
			<div class="center">

				<div class="musician-left left">
					<img src="assets/images/main-screen/icons/premium/saxophonist.svg" />
				</div>
				
				<!-- Rotating Message -->
				<div class="main-page-message">
					<h1> Find a <div class="dark-yellow"><b>community band or orchestra</b></div> near you.</h1>
				</div>
				<!-- Search Bar -->
				<div class="search-container">
					<i class="fa fa-map-marker" aria-hidden="true"></i>

					<!-- Autocomplete with Places API -->
					<!-- <div id="locationField"> -->
						<!-- <form action="/search/" method="post" enctype="application/x-www-form-urlencoded"> -->
					<input id="autocomplete" name="location" class="search-bar" placeholder="Enter an address, neighborhood, city or ZIP code">
						<!-- </form> -->
					<!-- </div>			 -->
				</div>

				<div class="musician-right right">
					<img src="assets/images/main-screen/icons/premium/cello.svg" />
				</div>
			</div>
			<div class="push"></div>
		</div>

		<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=autocomplete_post_req&key=AIzaSyBHZZ4-XDgacEZE7FqcDRcmJzRBtSaEBMg" async defer></script>

		<script>
			/* 
				Places API autocomplete functions.
				Based on https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
			 */
			 var autocomplete;

			 function initAutocomplete() {
			 	// Create the autocomplete object, restricting the search to
			 	// geographical location types
			 	autocomplete = new google.maps.places.Autocomplete(
			 		/** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
			 		{types: ['geocode']});
			 }

			 function autocomplete_post_req() {
			 	initAutocomplete();

		 		// When the user selects an address from the dropdown
		 		autocomplete.addListener('place_changed', function() {
		 			var place = autocomplete.getPlace();

		 			console.log(place);

					var lat = place.geometry.location.lat();
					var lng = place.geometry.location.lng();
					var radius = 10; // TODO: make this dynamic
					var coords = "@" + lat + "," + lng;
					var searchUrl = '/search/' + radius + '/' + coords;

					$.ajax({
						type: 'POST',
						url: searchUrl,
						data: {lat: lat, lng: lng},
						success: function() {
							// handle response here
							console.log('Success!');
							window.location.href = searchUrl;
						},
						error: function(err) {
							console.log(err);
							console.log('Failure :(');
						}
					});
		 		});
			}

			// Bias the autocomplete object to the user's geographical location,
			// as supplied by the browser's 'navigator.geolocation' object.
			document.body.onload = function() {
				if(navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(function(position) {
						var geolocation = {
							lat: position.coords.latitude,
							lng: position.coords.longitude
						};
						var circle = new google.maps.Circle({
							center: geolocation,
							radius: position.coords.accuracy
						});
						autocomplete.setBounds(circle.getBounds());
					});
				}
			}
		</script>
	</body>

	<footer class="footer">
		Banana
	</footer>
</html>