<!DOCTYPE html>
<html>
	<header>
		<link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		
		<!-- Loading Screen -->
		<div class="loading-screen-container">
			<!-- Instrument image -->
			<img src="../public/assets/images/loading-screen/instruments/saxophone.png"></img>

			<!-- Animated music notes -->
			<div class="music-note-container">
				<div class="music-note">&#9835; &#9833;</div>
			</div>

			<!-- Loading bar -->
			<div class="load-bar"></div>
		</div>
	</body>
</html>