<!DOCTYPE html>
<html id="main-page">
	<header>
		<link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css"/>
		<link rel="stylesheet" href="../public/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		<div class="bg"></div>
		<div class="center">
			<div class="search-container">
				
				<input type="text" class="search-text" placeholder="&#xf041; Enter a ZIP code" >
				
			</div>
		</div>
		
		
	</body>
</html>