<!DOCTYPE html>
<html id="main-page">
	<header>
		<link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css"/>
		<link rel="stylesheet" href="../public/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		<div class="bg"></div>
		<div class="center">
			<!-- Rotating Message -->
			<div class="main-page-message">
				<h1> Find a <div class="crimson">community band</div> near you.</h1>
			</div>
			<!-- Search Bar -->
			<div class="search-container">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<input type="text" class="search-bar" placeholder="Enter a ZIP code">			
			</div>
		</div>
		
		
	</body>
</html>