<!DOCTYPE html>
<html id="main-page">
	<header>
		<title> Community Band Finder: Find a community band or orchestra near you </title>
		<link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css"/>
		<link rel="stylesheet" href="../public/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</header>

	<body>
		<!-- <div class="bg"></div> -->
		<div class="logo"> 
			<h2> 
				<div class="dark-yellow">Community Band Finder</div> <div class="white" style="font-size: 15px"> Beta</div> 
			</h2> 
		</div>
	
		<div class="card-grid">
			<div class="card">
				<!-- Band Name -->
				<div class="card-band-name"><h1 class="black"><b>Alameda County Community Band</b></h1></div>

				<!-- Location -->
				<div class="card-location">
					<span class="fa fa-map-marker" aria-hidden="true"></span>
					<h4 class="black"> Pleasanton, CA </h4>
				</div>

				<!-- Image -->
				<div class="card-instrument">
					<img src="../public/assets/images/main-screen/icons/saxophonist-playing-sax.svg"></img>
				</div>

				<!-- Conductor -->
				<div class="card-conductor">
					<div class="inline-block">
						<img src="../public/assets/images/view-bands/conductor.svg" />
					</div>
					<h4 class="black">Bill Snyder</h4>
				</div>

				<!-- Email -->
				<div class="card-email">
					<div class="inline-block">
						<img src="../public/assets/images/view-bands/envelope.svg" />
					</div>
					<h4 class="black">bsnyder@ksu.edu</h4>
				</div>
			</div>	

			<div class="card">
				<!-- Band Name -->
				<div class="card-band-name"><h1 class="black"><b>Alameda County Community Band</b></h1></div>

				<!-- Location -->
				<div class="card-location">
					<span class="fa fa-map-marker" aria-hidden="true"></span>
					<h4 class="black"> Pleasanton, CA </h4>
				</div>

				<!-- Image -->
				<div class="card-instrument">
					<img src="../public/assets/images/main-screen/icons/musician-with-a-percussion-instrument.svg"></img>
				</div>

				<!-- Conductor -->
				<div class="card-conductor">
					<div class="inline-block">
						<img src="../public/assets/images/view-bands/conductor.svg" />
					</div>
					<h4 class="black">Bill Snyder</h4>
				</div>

				<!-- Email -->
				<div class="card-email">
					<div class="inline-block">
						<img src="../public/assets/images/view-bands/envelope.svg" />
					</div>
					<h4 class="black">bsnyder@ksu.edu</h4>
				</div>
			</div>	
		</div>
		
	</body>
</html>